#navbar ul {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 20px;
    border: none;
    cursor: pointer;
    list-style-type: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:rgb(255, 255, 255);
}
#navbar li {
    float: left;
}

#navbar li a {
    display:inline-block;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#navbar li a:hover {
     color: #46bc22;
}
.content {
    padding: 16px;
  }

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 200;
}

.sticky + .content {
    padding-top: 10000px;
  }


.earthlogorest {
    margin-left: 7px;
}

#earthlogo {
display: inline-block;
}
#title {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    margin: 0px;
    display: block;
    position: relative;
    bottom: 35px;
    z-index: 150;
    left: 100px;
  }
  #line {
    width: 100%;
    position: relative;
    bottom: 93px;
    z-index: 100;
  }

h2 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
.footer {
    background-color: #46bc22
}
#left {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 20px;
    border: none;
    cursor: pointer;
    list-style-type: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#footerimage {
    width:50px;
    float: left;
    margin: 10px;
}
#credits {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size:30px;
   display:inline-block;
   color:rgb(0, 0, 0);
   text-decoration: none;
   float:right;
   margin-right: 20px;
   position:relative;
   top:15px;
}
#credits:hover {
    color: rgb(95, 95, 95);
}