#navbar ul {
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 20px;
    border: none;
    cursor: pointer;
    list-style-type: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:rgb(255, 255, 255);
}
#navbar li {
    float: left;
}

#navbar li a {
    display:inline-block;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#navbar li a:hover {
     color: #46bc22;
}
.content {
    padding: 16px;
  }

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 200;
}

.sticky + .content {
    padding-top: 10000px;
  }
  .earthlogorest {
    margin-left: 7px;
}

#earthlogo {
display: inline-block;
}
#title {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    margin: 0px;
    display: block;
    position: relative;
    bottom: 35px;
    z-index: 150;
    left: 100px;
  }
  #line {
    width: 100%;
    position: relative;
    bottom: 93px;
    z-index: 100;
  }

#info {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 20px;
   margin:0px;
   margin-left: 200px;
   position: relative;
   bottom: 50px;
}

.footer {
  background-color: #46bc22
}
#left {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 20px;
  border: none;
  cursor: pointer;
  list-style-type: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#footerimage {
  width:50px;
  float: left;
  margin: 10px;
}
#credits {
  font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 font-weight: 300;
 font-size:30px;
 display:inline-block;
 color:rgb(0, 0, 0);
 text-decoration: none;
 float:right;
 margin-right: 20px;
 position:relative;
 top:15px;
}
#credits:hover {
  color: rgb(95, 95, 95);
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  padding: 0 4px;
}

.imagejobs {
  width: 32%;
}

/*pilot*/
.btn{
  font-size: 20px;
  color: white;
  padding: 10px 7px;
  cursor: pointer;  
}

#box{
  width: 500px;
  overflow: hidden;
  background-color: #46bc22;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#box span {
  color: white;
  font-size:40px;
  display: block;
  margin: 20px 0;
}

#box h1{
  color: white;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 25px;
}
.close{
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer; 
  background-color: #338a19;
  display: inline-block;
  border-radius: 4px; 
}

/*flight attendant*/
.btn2 {
  font-size: 20px;
  color: white;
  padding: 10px 7px;
  cursor: pointer;  
}

#box2{
  width: 500px;
  overflow: hidden;
  background-color: #46bc22;
  box-shadow: 0 0 20px black;
  border-radius: 8;
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#box2 span {
  color: white;
  font-size:40px;
  display: block;
  margin: 20px 0;
}

#box2 h1{
  color: white;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 25px;
}
.close2{
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer; 
  background-color: #338a19;
  display: inline-block;
  border-radius: 4px; 
}

/*it manager*/
.btn3 {
  font-size: 20px;
  color: white;
  padding: 10px 7px;
  cursor: pointer;  
}

#box3{
  width: 500px;
  overflow: hidden;
  background-color: #46bc22;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#box3 span {
  color: white;
  font-size:40px;
  display: block;
  margin: 20px 0;
}

#box3 h1{
  color: white;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 25px;
}
.close3{
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer; 
  background-color: #338a19;
  display: inline-block;
  border-radius: 4px; 
}
/*corporate position*/
.btn4{
  font-size: 20px;
  color: white;
  padding: 10px 7px;
  cursor: pointer;  
}

#box4{
  width: 500px;
  overflow: hidden;
  background-color: #46bc22;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 60%;
  left: 30%;
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#box4 span {
  color: white;
  font-size:40px;
  display: block;
  margin: 20px 0;
}

#box4 h1{
  color: white;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 25px;
}
.close4{
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer; 
  background-color: #338a19;
  display: inline-block;
  border-radius: 4px; 
}
/*check-in person*/
.btn5{
  font-size: 20px;
  color: white;
  padding: 10px 7px;
  cursor: pointer;  
}

#box5{
  width: 500px;
  overflow: hidden;
  background-color: #46bc22;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 60%;
  left: 30%;
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#box5 span {
  color: white;
  font-size:40px;
  display: block;
  margin: 20px 0;
}

#box5 h1{
  color: white;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 25px;
}
.close5{
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer; 
  background-color: #338a19;
  display: inline-block;
  border-radius: 4px; 
}

/*customer center*/
.btn6{
  font-size: 20px;
  color: white;
  padding: 10px 7px;
  cursor: pointer;  
}

#box6{
  width: 500px;
  overflow: hidden;
  background-color: #46bc22;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 60%;
  left: 30%;
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#box6 span {
  color: white;
  font-size:40px;
  display: block;
  margin: 20px 0;
}

#box6 h1{
  color: white;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 25px;
}
.close6{
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer; 
  background-color: #338a19;
  display: inline-block;
  border-radius: 4px; 
}

/*financial manager*/
.btn7{
  font-size: 20px;
  color: white;
  padding: 10px 7px;
  cursor: pointer;  
}

#box7{
  width: 500px;
  overflow: hidden;
  background-color: #46bc22;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 80%;
  left: 30%;
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#box7 span {
  color: white;
  font-size:40px;
  display: block;
  margin: 20px 0;
}

#box7 h1{
  color: white;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 25px;
}
.close7{
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer; 
  background-color: #338a19;
  display: inline-block;
  border-radius: 4px; 
}

/*baggage manager*/
.btn8{
  font-size: 20px;
  color: white;
  padding: 10px 7px;
  cursor: pointer;  
}

#box8{
  width: 500px;
  overflow: hidden;
  background-color: #46bc22;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 80%;
  left: 30%;
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#box8 span {
  color: white;
  font-size:40px;
  display: block;
  margin: 20px 0;
}

#box8 h1{
  color: white;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 25px;
}
.close8{
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer; 
  background-color: #338a19;
  display: inline-block;
  border-radius: 4px; 
}

/*planter*/
.btn9{
  font-size: 20px;
  color: white;
  padding: 10px 7px;
  cursor: pointer;  
}

#box9{
  width: 500px;
  overflow: hidden;
  background-color: #46bc22;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 80%;
  left: 30%;
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#box9 span {
  color: white;
  font-size:40px;
  display: block;
  margin: 20px 0;
}

#box9 h1{
  color: white;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 25px;
}
.close9{
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer; 
  background-color: #338a19;
  display: inline-block;
  border-radius: 4px; 
}
